language: c
compiler: gcc
before_install:
    - sudo apt-get update -q
install:
    - sudo apt-get install valgrind
    - sudo apt-get install -y libsdl1.2-dev libsdl-image1.2-dev libsdl-ttf2.0-dev libsdl-gfx1.2-dev
before_script :
    - mkdir obj
    - mkdir bin
    - sudo mv /usr/include/libxml2/libxml /usr/include/
script :
    - make test
