language: c
compiler: gcc
before_install:
    - sudo apt-get update -q
    - sudo apt-get install valgrind
    - sudo apt-get install -y libsdl1.2-dev libsdl-image1.2-dev libsdl-ttf2.0-dev libsdl-gfx1.2-dev
    - sudo apt-get install -y libxml2-dev
before_script :
    - mkdir obj
    - mkdir bin
script :
    - make
    - valgrind --leak-check=full --num-callers=50 --suppressions=./valgrind.supp bin/blockade
